.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 1rem 0 2rem rgba($color-black, 0.4);
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.5rem;

    &--p1 {
      right: 2rem;
      top: 0;
    }
    &--p2 {
      right: 2rem;
      top: 10rem;
    }
    &--p3 {
      right: 2rem;
      top: 20rem;
    }
    &:hover {
      outline: 0.2rem solid rgba($color-primary, 0.7);
      transform: translateX(-2rem);
      box-shadow: 1.5rem 0 2rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
